<div class="container text-center mt-5">
   <h1><i class="fa-solid fa-suitcase"></i>     <strong>Your trips</strong></h1>
</div>

<div class="parent" p-5 >

  <% @trips.each do |trip| %>
    <div class="card-trip mt-5">
      <%= cl_image_tag trip.place.city.photo.key, height: 400, width: 500, crop: :fill if trip.place.city.photo.key %>

      <div class="card-trip-infos">
        <div>
            <h2> Trip to <%= trip.place.city.local %> </h2>
            <h1> <%= trip.place.title %> </h1>
            <h5> <%= trip.place.subtitle %> </h5>
            <p> <%= trip.place.address %> </p>
            <p> Starts in <%= trip.start_date %>  </p>
            <p> Ends in <%= trip.end_date %>  </p>

            <h6> Your appointments:</h6>
              <% trip.appointments.each do |appointment| %>
              <h1>  <%= appointment.activity.title %>  </h1>
              <%= link_to "Activity Chat", activity_path(appointment.activity.id), class: "btn-donate" %>
              <p> <%= appointment.hour %> </p>
              <p> <%= appointment.date %> </p>
            <% end %>
            </div>
        </div>
      </div>
    <% end %>
</div>
