<%# Loader %>
<style>
#colorful {
   width: 31.4px;
   height: 31.4px;
   border-radius: 50%;
   background: #2ed3ff;
   transform-origin: top;
   display: grid;
   animation: colorful-3vgb5t 1s infinite linear;
}

#colorful::before,
#colorful::after {
   content: "";
   grid-area: 1/1;
   background: #619eff;
   border-radius: 50%;
   transform-origin: top;
   animation: inherit;
   animation-name: colorful-k94uub;
}

#colorful::after {
   background: #474bff;
   --s: 180deg;
}

@keyframes colorful-3vgb5t {
   0%, 20% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}

@keyframes colorful-k94uub {
   50% {
      transform: rotate(var(--s,90deg));
   }

   100% {
      transform: rotate(0);
   }
}

#content {
      display: none;
    }

.container-map {
    overflow: hidden; /* Evita que o mapa ultrapasse os limites do contêiner */
  }

</style>

<center><div id="colorful" style="margin-top: 450px;"></div></center>

<div id="content">

<div class="container text-center p-5">
   <h1><i class="fa-solid fa-suitcase"></i>     <strong>My trips</strong></h1>
</div>

<%# Flip Card %>
<div class="parent_trip" p-5>
  <% @trips.each do |trip| %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Trip to <strong><%= trip.place.city.local %></strong></h2>
        </div>

        <div class="flip-card-back mt-2">
          <%# <div> %>
            <%# <%= cl_image_tag trip.place.city.photo.key, height: 100, width: 200, crop: :fill if trip.place.city.photo.key %>
          <%# </div> %>
          <h4 style="margin-top: 40px;"><strong><%= trip.place.title %></strong></h4>
           <div style="margin-right: 5px; text-align: left; padding: 10px; line-height: 0.8;">
            <p><strong>Adress:</strong> <%= trip.place.address %> </p>
            <p><strong>Details:</strong> <%= trip.place.subtitle %> </p>
            <p><strong>Starts in:</strong> <%= trip.start_date %> </p>
            <p><strong>Ends in:</strong> <%= trip.end_date %> </p>
          </div>

          <!-- Include appointments for this trip -->
          <h4><strong>Your appointments:</strong></h4>
          <% trip.appointments.each do |appointment| %>
            <h5> <%= appointment.activity.title %> </h5>

            <div style="margin-right: 5px; text-align: left; padding: 20px; line-height: 0.8;">
              <p><strong>Hour:</strong> <%= appointment.hour %></p>
              <p><strong>Date:</strong> <%= appointment.date %></p>
            </div>

            <div style="margin-top: 20px;">
              <%= link_to "Activity Chat", activity_path(appointment.activity.id), class: "btn-donate" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>



<<<<<<< HEAD
=======

>>>>>>> master
<script>
  function initializeMap() {
    // Inicialize o mapa aqui
    // Certifique-se de que o contêiner do mapa tem uma altura definida corretamente
  }

  // Simule o carregamento por 6 segundos (substitua isso pela sua lógica real de carregamento)
  setTimeout(function() {
    // Oculte o dot de carregamento
    document.getElementById('colorful').style.display = 'none';

    // Mostre o conteúdo
    document.getElementById('content').style.display = 'block';

    // Dispare um evento de redimensionamento do mapa
    window.dispatchEvent(new Event('resize'));
  }, 500); // Simulando um tempo de carregamento de 3 segundos
</script>
