<div class="container mt-3">
  <p><strong>Edit Pet</strong></p>

  <%= simple_form_for(@pet) do |form| %>

    <div class="form-actions">
      <%= form.input :name %>
      <%= form.input :age %>
      <%= form.input :size %>
      <%= form.input :breed %>
      <%= form.input :details %>
      <%= form.input :photo, as: :file %>

      <%= form.button :submit, 'Update Pet', class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
