<%# banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1663091202352-a19c438ca22d?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Pets out! </h1>
    <p>Travel assistant for amazing trips with your pets</p>
    <div class="col-sm-8 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control",
                            placeholder: "Type a city to visit with your pet!"
        %>
        <%= submit_tag "Search", name: "", class: "btn-donate" %>
      <% end %>
    </div>
  </div>
</div>

 <%= link_to "Add city", new_city_path, class: "btn-donate" %>

<div class="container_cities">
  <h1>Popular pet-friendly <strong>cities</strong> </h1>

  <div class="parent" p-5 >

      <% if @city.present? %>
    <div class="card-trip mt-2">
      <%= cl_image_tag @city.photo.key, height: 400, width: 500, crop: :fill if @city.photo.attached? %>

      <div class="card-trip-infos">
        <div>
          <h2> <%= link_to @city.local, city_places_path(@city.id) %></h2>
        </div>
      </div>
    </div>

    <% else %>
      <% @cities.first(10).each do |city| %>
      <div class="card-trip mt-2">
        <%= cl_image_tag city.photo.key, height: 400, width: 500, crop: :fill if city.photo.attached? %>

        <div class="card-trip-infos">
          <div>
          <h2> <%= link_to city.local, city_places_path(city.id) %> </h2>
          </div>
        </div>
      </div>
        <% end %>
      <% end %>

  </div>
</div>


<div class="container_activities">
      <h1>Most upvoted <strong>activities</strong></h1>

  <div class="parent" p-5 >

        <% @activities.last(2).each do |a| %>
        <div class="card-product mt-2">
          <%= cl_image_tag a.photo.key, height: 400, width: 500, crop: :fill if a.photo.attached? %>

          <div class="card-product-infos">
            <h2><%= a.title %></h2>
            <p><%= a.details %></p>
            <p>in <%= a.city.local %></p>
          </div>
        </div>

        <% end %>
  </div>
</div>


<!-- app/views/shared/_footer.html.erb -->
