<div class="container mt-3">
  <p><strong>New Activity</strong></p>

  <%= simple_form_for([@city, @activity]) do |form| %>

    <div class="form-actions">
      <%= form.input :title %>
      <%= form.input :subtitle %>
      <%= form.input :address %>
      <%= form.input :details %>
      <%= form.input :photo, as: :file %>

      <%= form.button :submit, 'Create Activity', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%# <%= link_to 'Back', root, class: 'btn btn-secondary mt-2' %>
</div>
