
<div class="container">
  <h1>In this activity: </h1>
  <% @users.each do |user| %>
  <h2><strong> <%= user.nickname %></strong></h2>
    <% user.pets.each do |pet|  %>
    <h4> <%= pet.name %> </h4>
    <p> <%= pet.breed %> </h4>
    <% end %>
  <% end %>

  <h2>PetGPT</h2>
  <h4>It tells you how well pets from users in this chat will get along and tips</h4>
  <p>
    <%= @content %>
  </p>
</div>


<div class="container activity-message"
  data-controller="activity-subscription"
  data-activity-subscription-activity-id-value="<%= @activity.id %>"
>

  <h1>#<%= @activity.title %></h1>

  <div class="messages" data-activity-subscription-target="meetings">
    <% @activity.meetings.each do |meeting| %>
      <% render "meetings/meeting", meeting: meeting %>
      <% end %>
  </div>



  <%= simple_form_for [@activity, @meeting],
  html: { data: { action: "turbo:submit-end->activity-subscription#resetForm" },
  class: "d-flex" } do |f| %>

  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@activity.title}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>

</div>
