<div class="container">
  <%= cl_image_tag place.photo.key, height: 100, width: 125, crop: :fill if place.photo.attached? %>
  <h2> <%= place.title %> </h2>
  <p> <%= place.address %> </p>
  <p> <strong> £ <%= place.pricing %> </strong></p>
  <%# <div class="card-places-btn">
          <%= link_to "Book this place!", new_trip_path(place_id: place.id), class:"btn btn-primary m-3" %>
        <%# </div> %>

  <%= link_to "Book this place", new_trip_path(place_id: place.id), class:"btn-donate" %>
  </div>
