<div class="container mt-3">
  <p><strong>New Place</strong></p>

  <%= simple_form_for([@city, @place]) do |form| %>

    <div class="form-group">
      <%= form.input :title %>
      <%= form.input :subtitle %>
      <%= form.input :address %>
      <%= form.input :pricing %>
      <%= form.input :rooms %>
      <%= form.input :details %>
      <%= form.input :photo, as: :file %>

      </div>

      <div class="form-actions">
        <%= form.button :submit, 'Create Place', class: 'btn-donate' %>

      </div>
  <% end %>

  <%# <%= link_to 'Back', root, class: 'btn btn-secondary mt-2' %>
</div>

<br>
<br>
