<div class="container mt-3">
  <p><strong>New Place</strong></p>

  <%= simple_form_for(@place) do |form| %>

    <div class="form-actions">
      <%= form.input :title %>
      <%= form.input :subtitle %>
      <%= form.input :address %>
      <%= form.input :city_id %>
      <%= form.input :pricing %>
      <%= form.input :rooms %>
      <%= form.input :details %>

      <%= form.button :submit, 'Create Place', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%# <%= link_to 'Back', root, class: 'btn btn-secondary mt-2' %> 
</div>
