<!DOCTYPE html>
<html>
  <head>
    <title>PetsOut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
        <%= render "shared/navbar" %>
        <%# <%= render "shared/flashes" %>

    <div class="notification">
      <% if notice %>
        <% if notice.include?('Signed in') %>
          <div class="alert alert-success sign-in-notice">
            <%= notice %>
          </div>
        <% elsif notice.include?('Signed out') %>
          <div class="alert alert-danger sign-out-notice">
            <%= notice %>
          </div>
        <% else %>
          <div class="alert alert-info">
            <%= notice %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
        <%= render "shared/footer" %>
  </body>
</html>

<script>
  // espera 3 segundos e adiciona a classe "hidden"
  setTimeout(function() {
    document.querySelector('.notification').classList.add('hidden');
  }, 3000);
</script>

<style>
.notification.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
</style>
